*{
    font-family: 'Rubik', sans-serif;
    }
    *.icon-white {color: white}

  .page{
    
    margin-left: 211px;


  }
 .header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 120px;
  }

   .header-left>h1{
      font-family: Rubik;
      font-weight: 500px;
      color: #7562E0;
      font-size:24px;

    }
  .header-right>a
   {
  color: black;
  text-decoration: none;
  margin-left:32px;
}
.heading {
  color: #120644;
  font-size:80px;
  text-align: left;
}
.circle
{
  background-color: #7562E0;
  position: absolute;
  height: 536px;
  width: 642px;
  left: 847px;
  top: 228px;
  border-radius:50%;
  border-top-left-radius:100%;
  border-top-right-radius:0%;
  border-bottom-right-radius:0%;
  border-bottom-left-radius:0%;
  
}
img {
  position:absolute;
  width: 350px;
  height: 564px;
  left: 809px;
  top: 200px;
}

  .button {
    background-color: #7562E0;
    color: #FFFFFF;
    padding: 16px 48px;
    text-decoration: none;
    display: inline-block;
    
  }
  .socialmedia
    {
      color: #fff;
      z-index: 1;
      position:absolute;
      left: 1317px;
    bottom: 0px;
    width: 345px;
    height: 256px;
    font-size: 30px;
    
}



