    * {
        font-family: 'Rubik', sans-serif;
        overflow: hidden;
    }
    
    .page {
        margin-left: 211px;
    }
    
     :root {
        --parent-color: #7562E0;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
    }
    
    .header-left>h1 {
        font-family: Rubik;
        font-weight: 500px;
        color: var(--parent-color);
        font-size: 1.5rem;
    }
    
    .header-right>a {
        color: black;
        text-decoration: none;
        margin-left: 2rem;
    }
    
    .heading>h2 {
        color: #120644;
        font-weight: 500px;
        font-style: normal;
        font-size: 80px;
        width: 213px;
        height: 190px;
        line-height: 94.8px;
        position: absolute;
        bottom: 402px;
    }
    
    .heading>h3 {
        font-weight: 400px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        width: 237px;
        height: 42px;
        line-height: 21.33px;
        position: absolute;
        bottom: 225px;
    }
    
    .circle {
        background-color: var(--parent-color);
        position: absolute;
        height: 536px;
        width: 642px;
        right: -223px;
        bottom: 0px;
        border-top-left-radius: 100%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    
    img {
        position: absolute;
        width: 350px;
        height: 564px;
        right: 194px;
        bottom: 0px;
    }
    
    .button {
        background-color: var(--parent-color);
        color: #FFFFFF;
        padding: 16px 48px;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        bottom: 100px;
    }
    
    .socialmedia {
        z-index: 1;
        position: absolute;
        left: 1317px;
        bottom: 0px;
        width: 345px;
        height: 256px;
        font-size: 30px;
    }
    
    .socialmedia>a {
        color: #fff;
    }