*{
    font-family: 'Rubik', sans-serif;
  }
.name{
    font-family: Rubik;
    font-weight: 500px;
    color: #7562E0;
    font-size:24px;
  }
  .heading {
    color: #120644;
    font-size:80px;
    text-align: left;
  }
  img {
    width: 300px;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 469px;
    top: 91px;
  }
  .exp,.edu,.con{
    display:flex;
    justify-content: space-around;
    font-family: Rubik;
    font-size:16px;
  }
  .button {
    background-color: #7562E0;
    color: #FFFFFF;
    padding: 16px 48px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    
  }